# --- R / RStudio ---
.Rproj.user/
.Rhistory
.RData
.Ruserdata
*.Rproj

# --- Output generati ---
output/            
*.png
*.pdf

# --- Dati grezzi/pesanti
data/raw/
*.csv              
*.gpkg
*.tif


# --- Codice per arduino ---
*.ino              # mettere manualmente, contiene password

# --- Credenziali / segreti ---
.Renviron          # se ci tieni API key ThingSpeak/Open-Meteo
*.key
config_secret.R

# --- Sistema ---
.DS_Store
Thumbs.db
.Rproj.user
.httr-oauth
.quarto
